{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    Search from our broad range of products...
{% endblock %}
{% block title %}
        Search
{% endblock %}
{% block content %}
<div>
    <p class="my_search text-center"><b>You have searched for : {{query}}</b></p>
</div>
<div class="container">
  <div class="row mx-auto">
    {% for product in products %}
    <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4 ">
      <div class="card" style="min-width:18rem;">
        <a href="{{product.get_url}}"> <img class="my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
      </div>
      <div class="card-body text-center">
        <h4>{{product.name}}</h4>
        <p>{{product.price}}</p>
      </div>
    </div>
  </div>
</div>
{% empty %}
<div class="mx-auto">
    <p class="text-center my_search"> 0 results found</p>
</div>
{% endfor %}
{% endblock %}